#main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#boxes, #button, #wrongMsg{
    text-align: center; 
    margin: auto;
}

#boxs{
    width: 15em;
}

#buttonGo{
    width: 5em;

}
